 <div class="user-details">
  <h1> About Me </h1>
  <p> I'm 22 and a recent graduate of Red River College. There, I took Business Information Technology, and further reinforced my love for making awesome projects. I enjoy creating exciting websites, learning new technologies, and in addition to creating cool websites and other applications, I also design and create levels for <a href="https://www.reddit.com/r/OutOfTheLoop/comments/4cfyqn/whats_the_deal_with_csgo_surfing_why_do_people/d1i0acj/">surfing</a>. While I prefer to develop websites due to their innante accessibility where anyone, anywhere can view and use them, anything coding-related has my interest piqued.
 </p>
</div>
  <!-- <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
</div>
