<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mafb" src="{{ "/assets/img/foodbank.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Manitoba Association of Foodbanks </h3>
    <p>A PHP-based web application designed to solve the issue of the foodbanks needing to monitor community statistics for their yearly report. </p> <p>Previously, receiving food wasn't so easy-- you had to be crossed off of the foodbank's list, a list that required your Manitoba Health ID. The web app solved this issue by making an easy, fast, private and secure way to search clients up. A web application was chosen due to the ease at which you can access the contents. With a central server, the staff can login using their smartphone or any other internet device at any time, whereas other solutions may have had the individual foodbanks buy expensive technologies to store data. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ethereal" src="{{ "/assets/img/ethereal.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Ethereal </h3>
    <p>An easy, low-tiered surf map that is high above the clouds in a floaty atmosphere. </p><p>Inspired by surf_eclipse, the map is made with very intricate curvy ramps, and infact, the map has no ramp segment greater than 192 units and there's over 5000 individual segements in the main map!</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=ggpAeiF5DjY">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mdrn" src="{{ "/assets/img/mdrn.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> mdrn </h3>
    <p>A <b>m</b>o<b>d</b>e<b>rn</b> theme that features tighter, low speed surf.</p><p>Known mostly for its insanely challenging bonus 4 made by Beetle179, the map itself was created with me written all over it, it features one of my personal favourite themes with a surf style that I personally find a lot of fun.</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=uLibECKM2C8">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="spacejam" src="{{ "/assets/img/spacejam.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Space Jam </h3>
    <p>A collaboration with one of my good friends, Juxtapo. It's an easy, low tiered map designed with the Space Jam movie theme.</p><p>Space Jam was a project Jux and I made in just a few days, we wanted an easy and accessible map that related to the movie "Space Jam." I made stages 3, 4, & 5, and later stage 3 would serve as the start of Ethereal with its crazy ramp style.</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=HCW4_3bS3JY">Check it out</a>
  </div>
</div>
