<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mafb" src="{{ "/assets/img/foodbank.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Manitoba Association of Foodbanks </h3>
    <p>A PHP-based web application designed to solve the issue of the foodbanks needing to monitor community statistics for their yearly report. </p> <p>Previously, receiving food wasn't so easy-- you had to be crossed off of the foodbank's list, a list that required your Manitoba Health ID. The web app solved this issue by making an easy, fast, private and secure way for staff to search clients. A web application was chosen due to the ease at which you can access the contents, with a central server, the staff can login using their smartphone or any other internet device at any time. With other suggested solutions, they may have had the individual foodbanks buy expensive technologies to store data. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="DOOMDOOM" src="{{ "/assets/img/DOOMDOOM.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DOOMDOOM </h3>
    <p>A Unity-based game, a DOOM 1 parody for a content creator contest. Completely rewritten from scratch in Unity, trying to make it as faithful and accurate to the original doom, while still having a unique take and incorporating fun references to the contest runner.</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=ecAvRpmLAnY">Check it out</a>
    <a class="project-link" href="https://github.com/Syncronyze/DOOMDOOM">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="game" src="{{ "/assets/img/game.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Evil </h3>
    <p>A Unity-based game written in C#, created, designed and written by me. It uses cellular automata to generate worlds completely randomly, but in a semi-realistic sort of way. While there's yet a long way to go, for this project, I've already begun to learn how to code within the Unity framework, animate, and design creatures/characters. </p><p> The game will feature a hardcore world where you must save it from the evil underneath, but be warned, if you die, that's it! Once you've died, you must start over from scratch. As you fight more monsters, you get more powerful items to further fight increasingly difficult monsters.</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=V0e5eNaHHJs">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="nyx" src="{{ "/assets/img/nyx.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Nyx </h3>
    <p> The spiritual successor to Andromeda. Set in a very purple cavern with bright and blinding magical crystals. More challenging than Andromeda, but still extraordinarily easy that allows enjoyment for all skill levels.</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=Yjes_CX2phg">Check it out</a>
  </div>
</div>
<hr>
<div class="user-projects">
  <div class="images-right">
    <img alt="andromeda" src="{{ "/assets/img/andromeda.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Andromeda </h3>
    <p>A map with extremely easy gameplay set in a distant, foreign moon.</p><p>Andromeda's colour scheme is one that is unique among the current surf maps, and a theme that hasn't really been fully explored previously. While being an easy map, I'm hopeful that it will allow for interesting and exciting gameplay among even the fastest in the community.</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=efDz7i6qKJ0">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ethereal" src="{{ "/assets/img/ethereal.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Ethereal </h3>
    <p>An easy, low-tiered surf map that is high above the clouds in a floaty atmosphere. </p><p>Inspired by surf_eclipse, the map is made with very intricate curvy ramps, and in fact, the map has not a single ramp segment greater than 192 units and there's over 5000 individual segments in the main map!</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=ggpAeiF5DjY">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mdrn" src="{{ "/assets/img/mdrn.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> mdrn </h3>
    <p>A <b>m</b>o<b>d</b>e<b>rn</b> theme that features challenging, tighter, low speed surf.</p><p>Known mostly for its ridiculously precise and difficult bonus 4 made by Beetle179, the map itself was created with me written all over it, featuring one of my personal favourite colour schemes with a surf style that I personally find a lot of fun.</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=uLibECKM2C8">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="spacejam" src="{{ "/assets/img/spacejam.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Space Jam </h3>
    <p>A collaboration with one of my good friends, Juxtapo. It's an easy, low tiered map designed with the Space Jam movie theme.</p><p>Space Jam was a project Jux and I made in just a few days, we wanted an easy and accessible map that was related to the movie "Space Jam." I made stages 3, 4, & 5. Later down the road, stage 3 would serve as the beginning of Ethereal with its crazy ramp style.</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=HCW4_3bS3JY">Check it out</a>
  </div>
</div>
